@import "variables.less";
@import "mixins.less";


button:hover, button:focus, button:active{
  opacity: 0.75;
}

.margin-left-0{
  margin-left: 0;
}

label{
  line-height: 23px;
}


body{
  background-color: @color-bg-tr-hover-dash-portlet;
}

/* Header */

header{
  width: 100%;
  height: 50px;
  background-color: @color-blue;
}

.logo{
  display: block;
  width: 110px;
  height: 14px;
  height: 100%;
  background: url('../images/logo-ca.png') center no-repeat;
}



/* End Header */

.container{
  margin: 0 auto;
  height: 100%;
  width: @container-width;
}


/* Breadcrumb */

.breadcrumb{
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: @color-bg-tr-hover-dash-portlet;
  padding: 0;
}

.breadcrumb li:not(:last-child):after{
  content: "›";
  color: @color-blue-dark;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 9px;
}

.breadcrumb li a{
  color: @color-blue;
  text-decoration: underline;
}

.breadcrumb a.current{
  color: @color-blue-dark;
}

/* End breadcrumb */

/* Content */

.title{
  text-transform: uppercase;
  padding-bottom: 50px;
  margin: 0;
}

.content{
  padding: 70px 80px;
  background: @color-grey-light;
  width: 100%;
  border: 1px solid @color-placeholder-default;
  .box-sizing(border-box);
}

.field-label{
  margin-bottom: 20px;
}

.form-default .row:not(:last-child) {
  margin-bottom: @space-between-rows;
}

.form-default input[type=text]{
  margin-bottom: 0;
}

.form-default fieldset:not(:last-child){
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 2px dotted @color-placeholder-default;
  border-bottom: 2px dotted @color-placeholder-default;
  margin-bottom: @space-between-rows;
}

.txt-label{
  margin-bottom: 30px;
}
/* End Content */

.actions{
  margin-top: @space-between-rows;
  margin-bottom: @space-between-rows;
}

.actions .flat-btn-primary{
  margin-left: 20px;
}

#footer{
  border-top: 2px solid #e0e6ec;
  background: url('../images/logo-ca-footer.png') center no-repeat;
  height: 40px;
  margin-bottom: 20px;
}

